language: generic
stages:
  - name: test_vkbot
    if: branch = development
  - name: test_tgbot
    if: branch = development
  - name: test_mainserver
    if: branch = development

jobs:
  include:
    - stage: test_vkbot
      language: node_js
      node_js: 
          - "node"
      before_script:
      script: 
          - cd VkGroupBot;
          - npm install;
          - npm test;
          - grunt jshint;
          - cd ..;

    - stage: test_tgbot
      language: python
      python:
        - "3.6"
      before_script:
          - cd TgBot
          - echo "DIALOG_FLOW_TOKEN = \"$DIALOG_FLOW_TOKEN\"" > config.py
          - sudo pip3.6 install -r requirements.txt 
          - cd ..
      script: 
          - cd TgBot
          - python3.6 -m unittest tests/*.py
          - cd ..

    - stage: test_mainserver
      language: go
      before_script:
      script: 

